integration/workflows_fusion/.import/nin_agente_secreto_mapeador__agente_secreto_mapeador_8rwngqmsa4obrh2i.json
{
  "name": "NIN | Agente Secreto - Mapeador",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-secreto",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ],
      "id": "trigger-webhook",
      "name": "Webhook Inicio",
      "webhookId": "agente-secreto-123456"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chatInput",
              "value": "={{ $json.body.consulta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -100,
        0
      ],
      "id": "set-node",
      "name": "Formatear Consulta"
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Eres el Agente Secreto Mapeador de LUCY. Analiza el entorno respondiendo estrictamente a la consulta. Sé MUY BREVE, al grano. Usa tu herramienta de lectura de archivos locales si es necesario."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        100,
        0
      ],
      "id": "agent-mapeador",
      "name": "Agente Mapeador"
    },
    {
      "parameters": {
        "model": "huihui_ai/qwq-abliterated:32b-Q6_K",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "ollama-model",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "7l3V3KyozpH1jUVu",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "description": "Herramienta para leer archivos del disco duro.",
        "workflowId": {
          "__rl": true,
          "value": "BgVWal7bDgPEy8DYn1Nom",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $fromAI('input') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        250,
        200
      ],
      "id": "tool-reader",
      "name": "Cerebro Central LUCY"
    }
  ],
  "connections": {
    "Webhook Inicio": {
      "main": [
        [
          {
            "node": "Formatear Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Consulta": {
      "main": [
        [
          {
            "node": "Agente Mapeador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Mapeador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro Central LUCY": {
      "ai_tool": [
        [
          {
            "node": "Agente Mapeador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
